body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-for-padding {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 60%;
    padding: 30px 0;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    flex: 1 1 40%;
}

.link-bar {
    flex: 1 1 60%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;  
}

.link-bar a{
    color: #e5e7eb;
    font-size: 18px;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 40px;
}

.footer-div {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-container .container-for-padding {
    align-items: stretch;
    padding: 0;
    padding-bottom: 75px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 500px;
}

.hero-text {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 35px;
}

.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    width: 35%;
    height: 35px;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: bold;
    border: 0;
    padding: 8px 24px;
    text-wrap: nowrap;
}

.image-container {
    flex: 1 1 50%;
    display: flex;
    background-color: #e5e7eb;
    color: #f9faf8;
}

.image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.photo-container {
    display: flex;
    justify-content: center;
    height: 350px;
}

.photo-container .container-for-padding {
    flex-direction: column;
    align-items: stretch;
    flex: 0 1 55%;
}

.photo-container h2 {
    text-align: center;
}
.picture-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 52px;
    flex: 1;
}

.picture-with-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.picture {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 3px solid #3882f6;
    border-radius: 16px;
}

.picture-with-text p {
    text-align: center;
    color: #616161;
    font-size: 12px;
    margin: 3px;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    height: 350px;
}

.quote-container .container-for-padding {
    flex-direction: column;
    padding: 50px 0;
    flex: 0 1 40%;
}

.quote p {
    color: #1f2937;
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.author {
    align-self: flex-end;
    margin: 0;
    padding: 0;
    padding-right: 35px;
    font-weight: 900;
    color: #1f2937;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    height:350px
}

.blue-box {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 35px 100px;
}

.action-bold {
    color: #f9faf8;
    font-weight: 900;
    font-size: 22px;
}

.action-soft {
    color: #e5e7eb;
    font-size: 16px;
}

.action-button button {
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 16px;
    text-wrap: nowrap;
    padding: 10px;
}